
/* Contenedor principal que ocupa el 100% de la ventana */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que la página ocupe al menos toda la altura de la ventana */
}

/* Estilos del footer */
.footer-bar {
  background-color: rgb(0, 123, 255); /* Fondo azul */
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.business-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}